body{
  background-image: url(../images/);
  background-position: center;
  background-attachment: fixed;
}
.jumbotron{
  margin-top: 10px;
  background-image: url(../images/);
}
#play:hover{
  color: black;
  background-color: whitesmoke;
  border: dotted;
}
#card1{
  margin-left: 50px;
  margin-right: 50px;
  max-width: 560px;
  margin-bottom: 20px;
}
#card2{
  margin-right: 50px;
  margin-left: 50px;
  max-width: 560px;
  margin-top: 10px;
}
#show{
  display: none;
}
#roll:hover{
  color: black;
  background-color: antiquewhite;
}
#hold:hover{
  color: black;
  background-color: antiquewhite;
}
#restart{
  margin-top: 28px;
  margin-left: 100px;
}
#restart:hover{
  color: black;
  background-color: white;
}
@media screen and (min-width: 480px){
  .card{
    max-width: 100%;
  }
}